# Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
.venv/
venv/

# Git
.git

# Docker
docker-compose.override.yml
Dockerfile.*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.egg-info
