__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/
venv/
.DS_Store
.env
.env.local
.streamlit/secrets.toml
build/
dist/
eggs/
*.egg-info/
/.pytest_cache/
.mypy_cache/
*.sqlite3
recitation.wav
recitation_sample.mp3
recitation_sample.wav
/.vscode/
.DS_Store
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/
build/
dist/
eggs/
*.egg-info/
/.pytest_cache/
.mypy_cache/
*.sqlite3
recitation.wav
recitation_sample.mp3
recitation_sample.wav
/.vscode/
.DS_Store